:root {
  --primary-color: black;
  --accent-color: #89cff0;
  --wavy-color: rgba(0, 27, 45, 0.9);
  --radius: 25px;
}

/* GLOBAL STYLES */
* {
  font-family: "Andika New Basic", sans-serif;
  color: white;
}

body {
  margin: 4em 0;
  background-color: black;
  margin-top: 7em;
}
/* HOME */
h1 {
  text-align: center;
  color: white;
}
/* NAV BAR */
nav {
  background-color: var(--wavy-color);
  display: flex;
  /* border-top: 1px solid var(--accent-color); */
  border-bottom: 1px solid var(--accent-color);
  padding: 0.5em 0;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 14px;
}
ul {
  display: flex;
  padding-inline-start: 0em;
  padding: 0.5em;
  list-style-type: none;
  margin: 0;
  border-right: 1px solid var(--accent-color);
}
li {
  display: flex;
  text-align: center;
}
.navbar-brand {
  border-right: 1px solid var(--accent-color);
  padding: 0 1em;
}

nav a {
  text-decoration: none;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0.5em 0.5em;
}
a:hover {
  color: var(--accent-color);
}
.active-route {
  color: var(--accent-color);
}
@media (max-width: 500px) {
  ul {
    border-right: none;
  }
  nav {
    justify-content: center;
  }
}

/*GlobalPage*/
.historic {
  color: white;
  text-align: center;
  align-content: center;
  width: 90%;
  height: 50%;
  margin: 0 auto;

  padding: 2em;
  padding-top: 0.5em;
  background-color: var(--wavy-color);
  border-radius: 25px;
}

.graph {
  margin: auto;
  border-radius: var(--radius);
  background-color: var(--wavy-color);

  width: 100%;
}

@media (max-width: 500px) {
  .historic {
    width: 80%;
  }
}

/* Current Page */
.current {
  margin: 0 auto;
  padding: 2em 2em;
  /* background-color: var(--wavy-color);
  border-radius: var(--radius);
  border: 1px solid var(--accent-color); */
}

.current p {
  text-align: center;
}
.current-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  border: 1px solid var(--accent-color);
  border-radius: 15px;
  padding: 1em;
  margin: 1em;
}
@media (max-width: 500px) {
  .current {
    width: 300px;
    margin: 0 auto;
  }

  .card {
    margin: 0.5em;
  }
}

@media (min-width: 1000px) {
  .sticky-icky {
    position: sticky;
    top: 5px;
  }
}
.wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 200px;
}

/* Card */

.card {
  background-color: var(--wavy-color);
  padding: 1em;
  text-align: center;
  border: 1px solid var(--accent-color);
  border-radius: 15px;
  margin: 1em;
}

.current h1,
h2 {
  margin: 0 auto;
  width: 300px;
  text-align: center;
}
